.pdf-btn, .pdf-btn:visited, #contact .form button[type="submit"]{
    background-color:rgba(246, 81, 0, 1);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
  }
  .pdf-btn:hover, #contact .form button[type="submit"]:hover{
    color:rgba(246, 81, 0, 1);
    border:1px solid rgba(246, 81, 0, 1);
    background-color: #fdefe6;
  }
  .pdf, .msg{
    text-align: center;
    height: 40px;
  }